<!-- Feel free to change the width and height to your desired video size. -->

<!-- <div class="embed-container">
    <iframe
        width="853"
        height="480"
        src="{{ site.url }}/assets/SymphonyNet-demo.mp4"
        frameborder="0"
        allowfullscreen="">
    </iframe>
  </div> -->
  <!-- <video width="853" height="480" controls muted autoplay>
    <source src="{{ site.url }}/assets/SymphonyNet-demo.mp4"" type="video/mp4">
    Your browser doesn't support video tag.
  </video> -->
  <div class="embed-container">
    <iframe
        src="https://www.youtube.com/embed/{{ include.id }}"
        width="853"
        height="480"
        frameborder="0"
        allowfullscreen="">
    </iframe>
  </div>